# Configuração do Firebase (Pegue esses valores no console do Firebase)
VITE_FIREBASE_API_KEY=robotic-dialect-bcf5x
VITE_FIREBASE_AUTH_DOMAIN=1:65286391405:web:870de972ce056c25cce164
VITE_FIREBASE_PROJECT_ID=AIzaSyA7a1daudM8WltP1yd8Z97wgJl_0ALzw1E
VITE_FIREBASE_STORAGE_BUCKET=robotic-dialect-bcf5x.firebaseapp.com
VITE_FIREBASE_MESSAGING_SENDER_ID=ai-studio-e9e39544-401e-40f8-a1f0-7af5be59672b
VITE_FIREBASE_APP_ID=robotic-dialect-bcf5x.firebasestorage.app
VITE_FIREBASE_FIRESTORE_DATABASE_ID=65286391405
